{{#> templates/base/markup/partials/_base-demo-container title="To Do List"}}

  {{{feLibs 'library' 'modules' 'to-do-list' 'to-do-list' 'all'}}}
  <ul class='to-do-list__list ts-list'>

  </ul>
  <form class="to-do-list__form ts-form" id='form'>
    <input class="to-do-list__input ts-input" type="text" placeholder='Enter a todo!' id='input'>
    <button class="to-do-list__button ts-button" id='button' type='submit'>Button</button>
  </form>


  {{/ templates/base/markup/partials/_base-demo-container}}